<tr>
  <td class="align-middle">
    <%= content_tag :span, badge.title %>
  </td>
  <td class="align-middle" calss="badge_image"><%= image_tag("#{badge.image_url}") %></td>
  <td class="align-middle"><%= badge.rule %></td>
  <td class="align-middle"><%= badge.param if badge.param.present? %></td>
  <td class="align-middle">
    <%= link_to t('.edit'),
                          edit_admin_badge_path(badge)
                          %></td>
  <td class="align-middle">
    <%= link_to t('.delete'),
    admin_badge_path(badge),
    method: :delete,
    data: {confirm: t('.sure?')} %>    
  </td>
</tr>
