<h1><%= @test_passage.test.title %>  <%= t('.completed_test') %> </h1>
<p>
  <b><%= t('.result') %></b>
  <% if @test_passage.success? %>
     <span class="colortext-green"> <%= @test_passage.percentage_correct_answers %>% </span>
     <%= t('.good') %>
  <% else %>
      <span class="colortext-red"> 
        <%= @test_passage.percentage_correct_answers %>%</span>
     <%= t('.bad') %>
  <% end %>
</p>

<p><%= link_to t('.all_tests'), tests_path %></p>
