<p>
  <strong><%= t('.title')%></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level')%></strong>
  <%= @test.level %>
</p>
<table>
  <tr>
    <ol><%= render @test.questions %></ol>
  </tr>
</table>
<p><%= link_to t('.new_question'), new_admin_test_question_path(@test.id) %></p>
<p><%= link_to t('.back'), admin_tests_path %></p>
