<div class ="header text-center">
<h2><%= t('.header') %><span class="badge badge-secondary">new</span></h2>
</div> 
<div class="row justify-content-center">
    <table class="table">
        <tr>
          <th class="sort-by-title pointer">
            <span class="badge badge-pill badge-info">
              <%= t('.title') %>
              <%= octicon 'arrow-up', class: 'text-success hide' %>
              <%= octicon 'arrow-down', class: 'text-success hide' %>
            </span>
          </th>
          <th><span class="badge badge-pill badge-info"><%= t('.level') %></span></th>
          <th><span class="badge badge-pill badge-info"><%= t('.questions') %></span></th>
          <th><span class="badge badge-pill badge-info"><%= t('.actions') %></span></th>
        </tr>
        <%= render @tests %>
    </table>
</div>
