<div class="fixed-bottom row-fluid">
    <footer class="container">  
      <p class="float-right">@<%= current_year %></p>
        <p><%= link_to t('.feedback'), new_feedback_path %> |
          <%= github_author('EfremovEvgeniy') %> |
          <a><%= github_url('EfremovEvgeniy', 'test-guru') %></a> |
          <a><%= link_to "Учебный проект в онлайн-школе Thinknetica", 'https://thinknetica.com', target: '_blank' %></a>
        </p>
    </footer>
</div>
